<div class="well docs-menu col-xs-12 col-sm-4 col-md-3" id="docs_menu_container">
    {% include search_form.html %}

    <ul class="nav nav-list" id="docs_menu_ul_list">

        <li>
            <a href="{{ site.baseurl }}/docs/" {% if page.url == "/docs/" %}class="menu_active"{% endif %}>Velit Veritatis</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-001.html" {% if page.url == "/docs/ipsum-001.html" %}class="menu_active"{% endif %}>Blanditiis Assumenda</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-002.html" {% if page.url == "/docs/ipsum-002.html" %}class="menu_active"{% endif %}>Est Galisum Fugit </a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-003.html" {% if page.url == "/docs/ipsum-003.html" %}class="menu_active"{% endif %}>Aut Voluptas Quae</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-004.html" {% if page.url == "/docs/ipsum-004.html" %}class="menu_active"{% endif %}>Et Sunt Nsi et Nihil</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-005.html" {% if page.url == "/docs/ipsum-005.html" %}class="menu_active"{% endif %}>Intus Niveis</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-006.html" {% if page.url == "/docs/ipsum-006.html" %}class="menu_active"{% endif %}>Ignes Formosa Pia</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-007.html" {% if page.url == "/docs/ipsum-007.html" %}class="menu_active"{% endif %}>Est Dolorum Accusantium</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-008.html" {% if page.url == "/docs/ipsum-008.html" %}class="menu_active"{% endif %}>Et Nihil Laboriosam </a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-009.html" {% if page.url == "/docs/ipsum-009.html" %}class="menu_active"{% endif %}>Recusandae Natus</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-010.html" {% if page.url == "/docs/ipsum-010.html" %}class="menu_active"{% endif %}>Qui Dolore Eveniet Qui</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-011.html" {% if page.url == "/docs/ipsum-011.html" %}class="menu_active"{% endif %}>Sit Provident Fugiat</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-012.html" {% if page.url == "/docs/ipsum-012.html" %}class="menu_active"{% endif %}>Fraude rapinae recepi</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-013.html" {% if page.url == "/docs/ipsum-013.html" %}class="menu_active"{% endif %}>Quo Quae Voluptatem</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-014.html" {% if page.url == "/docs/ipsum-014.html" %}class="menu_active"{% endif %}>Distinctio Fugiat et Fotam</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-015.html" {% if page.url == "/docs/ipsum-015.html" %}class="menu_active"{% endif %}>Aut Molestias</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-016.html" {% if page.url == "/docs/ipsum-016.html" %}class="menu_active"{% endif %}>Aliquid Exercitationem Qui</a>
        </li>

        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-017.html" {% if page.url == "/docs/ipsum-017.html" %}class="menu_active"{% endif %}>Qui Dolores</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-018.html" {% if page.url == "/docs/ipsum-018.html" %}class="menu_active"{% endif %}>Fraude Rapinae</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/ipsum-019.html" {% if page.url == "/docs/ipsum-019.html" %}class="menu_active"{% endif %}>Oscula Sum Amnis</a>
        </li>

    </ul>
</div>
